/* Core functionality inspired by http://www.ghosthorses.co.uk/production-diary/super-simple-responsive-progress-bar/ */
/* Copied from https://de.wordpress.org/plugins/responsive-progress-bar/ */

.grape-progress {
    width: 200px;
    height: 28px;
}

.grape-progress-wrap {
    display: inline-block;
    background: #0073aa;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

.grape-progress-wrap .grape-progress-bar {
    background: #ccc;
    left: 0;
    position: absolute;
    top: 0;
}

.grape-progress-text {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.grape-progress-bar {
    background: #ccc;
}


.grape-loading {
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 2px;
    display: inline-block;
}

.grape-progress-container {
    display: inline-flex;
}

.grape-progress-container.hidden,
.grape-progress-done.hidden {
    display: none;
}

.grape-progress-done {
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
}

.grape-warning {
    color: #D21C1C;
}

.div-add-post-type {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    max-width: 500px;
    margin-top: 20px;
}

.div-add-post-type form {
    padding: 10px 20px 20px 20px;
    background: #F9F9F9;
}

.div-add-post-type h2 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    background: #fff;
    display: block;
    font-weight: 600;
    color: #23282d;
}

.div-add-post-type label{
    display: block;
    margin-left: 2px;
    font-weight: bold;
    margin-top: 13px;
}

.div-add-post-type .button-add {
    margin-top: 20px;
}

#placeholder-syncables li span.post-type {
    font-weight: bold;
}

#placeholder-syncables li span.api-url,
#placeholder-syncables li span.custom-url
{
    color: gray;
}

#placeholder-syncables li {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    max-width: 460px;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    background: #F9F9F9;
}

/* hide the taxanomies for now */
form.syncable_type,
ul.syncable-taxonomies {
    display: none;
}